<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rockit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Pag_0login_inicio"></activity>
        <activity android:name=".Pag_Filtro" />
        <activity android:name=".Extra_Barra_inferior" />
        <activity android:name=".Pag_Config_Sobre_App" />
        <activity android:name=".Pag_0login_Cadastro" />
        <activity android:name=".Pag_configuracoes" />
        <activity android:name=".Pag_perfil_usuario" />
        <activity android:name=".Pag_0login_teste_musical" />
        <activity android:name=".Pag_banda" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>